QB_CLIENT_ID=your_client_id_here
QB_CLIENT_SECRET=your_client_secret_here
QB_REDIRECT_URI=http://localhost:5000/callback
QB_ENVIRONMENT=production
FLASK_SECRET_KEY=change_this_to_any_random_string
SMTP_EMAIL=info@glamourupholstery.com
SMTP_PASSWORD=your_gmail_app_password_here
